.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 425px;
    height: 540px;
}



.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 425px;
    height: 620px;
    position: absolute;
    top: -70px;

}

.typical{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
    top: -70px;
}
.login-info{
    display: flex;
    text-align: center;
    justify-content:center;
    padding-top: 0px;
    position: relative;
    top: -40px;
}
.login-info1{
    display: flex;
    text-align: center;
    justify-content:center;
    position: relative;
    top: -40px;
}

.login-box1{
    width: 70%;
    height: 40px;
    border: 1px solid rgba(200, 200, 200, .5);
    outline: none;
    padding-left: 10px;
    
}

.login-box2{
    width: 70%;
    height: 40px;
    border: 1px solid rgba(200, 200, 200, .5);
    outline: none;
    padding-left: 10px;
}

.login-type-box{
    width: 73%;
    height: 40px;
    border: 1px solid rgba(200, 200, 200, .5);
    outline: none;
    padding-left: 10px;
    color: grey;
    position: relative;
    top: -40px;
}

.login-type{
    display: flex;
    justify-content: center;
}

.login-submit{
    display: flex;
    text-align:center;
    justify-content:center;
    padding-top: 20px;
    position: relative;
    top: -30px;
}

.login-submit-button{
    outline:none;
    border:none;
    width: 75%;
    height: 40px;
    border-radius: 25px;
    color: white;
    background: black;
    cursor: pointer;
    font-family: 'Arial';
}

.login-submit-button:hover{
    background: #18cf15;
    color: black;
}

.demo{
    display: flex;
    text-align:center;
    justify-content:center;
    padding-top: 0px;
}

.demo-user-button{
    outline:none;
    border: none;
    width: 30%;
    border-radius: 25px;
    color: white;
    background: rgb(131, 215, 226);
    position: absolute;
    left: 100px;
    cursor: pointer;
    padding: 10px;
    font-family: 'Arial';
}

.demo-hauler-button{
    outline:none;
    border: none;
    width: 30%;
    border-radius: 25px;
    color: white;
    background: rgb(51, 148, 187);
    position: absolute;
    padding: 10px;
    right: 70px;
    cursor: pointer;
    font-family: 'Arial';
}

.demo-user-button:hover{
    background: grey;
}
.demo-hauler-button:hover{
    background: grey;
}

.login-errors{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    list-style: none;
    top: 50px;
    left: 65px;
    width: 70%;
    
}
.errors{
    list-style: none;
    position: relative;
    right: 20px;
    font-family: 'Arial';
    color: red;
    font-size: 15px;
   
}

//signup form


.signup-info{
    display: flex;
    text-align: center;
    justify-content:center;
    padding-top: 10px;
    position: relative;
    top: 50px;
}

.signup-box{
    width: 70%;
    height: 40px;
    border: 1px solid rgba(200, 200, 200, .5);
    outline: none;
    padding-left: 10px;
    
}

.signup-type-box{
    width: 74%;
    height: 45px;
    border: 1px solid rgba(200, 200, 200, .5);
    outline: none;
    padding-left: 10px;
    color: grey;
    position: relative;
    top: 20px;
}

.signup-type{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.signup-submit{
    display: flex;
    text-align:center;
    justify-content:center;
    padding-top: 20px;
    position: relative;
    top: 0px;
}

.signup-submit-button{
    outline:none;
    border:none;
    width: 75%;
    height: 40px;
    border-radius: 25px;
    color: white;
    background: black;
    cursor: pointer;
    font-family: 'Arial';
}

.signup-submit-button:hover{
    background: #18cf15;
    color: black;
}

.signup-header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 110px;
    font-family: 'Arial';
    font-size: 30px;
}

.signup-errors{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    list-style: none;
    top: 10px;
    left: 65px;
    width: 70%;
    
}

.errors1{
    list-style: none;
    position: relative;
    right: 20px;
    font-family: 'Arial';
    color: red;
    font-size: 10px;
   
}


//job-form

.type-icon{
    width: 100px;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.job-form-container-div {
    display: flex;
    justify-content: center;
    padding-right: -100%;
    padding-bottom: 20px;
    padding-top: 52px;
    height: 0px;
}

.job-form-container{
    display: flex;
    position: relative;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
    width: 700px;
    height: 590px;
    z-index: 1;
    top: -700px;
    background: lightblue;

}

.job-radio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    justify-content: center;
}

.icon-type{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Arial';
}

.radio-button{
    display: flex;
    text-align: center;
    margin-left: 63px;
}

.job-details{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    height: 100px;
    font-family: 'Arial';
}

.details-label {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.job-details-box{
    vertical-align: top;
    width: 300px;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
    font-stretch: 100%;
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    border-color: rgb(206, 212, 218);
  
}

.job-details-box:focus{
    outline: none;

}

.job-submit{
    display: flex;
    justify-content: center;
    left: 20px;
    margin-top:20px;
    bottom: 0;
}

.job-address{
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 30px;
}

.job-start-address{
    position: relative;
    padding-right: 15px;
    padding-top: 20px;
    width: 300px;
}

.job-end-address{
    position: relative;
    padding-top: 20px;
    width: 300px;
}



.google-places-autocomplete__input {
    width: 280px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    z-index: 80;
}


.suggestion-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.931);
    color: rgb(126, 126, 126);
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    width: auto;
    z-index: 10 !important;
}

.google-places-autocomplete__input:focus{
    outline: none;
}
.suggestion {
    border-bottom: 1px solid rgba(145, 145, 145, 0.411);
}


.suggestion:hover {
    color: black;
    cursor: pointer;
    background-color: rgba(135, 206, 250, 0.698);
    // z-index: 10 !important;
}





.job-submit-button{
    outline:none;
    border: none;
    border-radius: 40px;
    padding: 20px;
    background: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    font-family: 'Arial';
    // position: relative;
    top: -150px;
    left: 250px;

}

.job-submit-button:hover{
     background: #18cf15;
    color: black;
}

.job-submit-link{
    text-decoration: none;
    color: white;
}


.form-errors{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    list-style: none;
    top: 70px;
    left: 100px;
    width: 70%;
}
