.wave{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    top: 0px;
}

.svg-wave {
    fill: white;
    position: relative;
    bottom: 200px;
    right: 0px;
    width: 100%;
    display: block;
    z-index: 1;
}

.wave-container{
    height: 800px;
}

