
//job idx page

#job_index_container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    padding: 0;
}

#job_show_sub_right {
    display: flex;
    height: 100%;
    width: 72%;
    
}
#job_show_sub_left {
    display: block;
    width: 23%;
    height: 105vh;
    flex-direction: column;
    overflow-y: auto;
    list-style: none;
    border: 2px solid gray;
}


// #job_show_sub_left > h2 {
//     align-items: center;
    // font-size: 30px;
//     margin-left: 200px;
// }

.alljobs-header {
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    margin-right: 25%;
    margin-left: 35%;
    margin-top: 30px;
    // margin: 0 auto;
}


.job-distingsetails {
    background-color: purple; 
    
}


.map_container {
    height: 60vh;
    width: 100%;
}

.map_wrapper {
    width: 100%;
}

// .directions-ctrl-directions {
//    padding-left: 50px;
// }

.directions-control.directions-control-directions {
    padding-left: 100px;
    line-height: 1.6;
    letter-spacing: 2px;
}




.mapbox-directions-component-keyline {
    display: none;
    
}


.mapboxgl-control-container {
    height: 30%;
}

.mapboxgl-canvas-container {
    height: 100%;
}


.mapboxgl-canvas {
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    // margin-left: 30px;
    // padding-right: 30px;
}


.job-idx-left-container {
    border: 1px solid rgb(163, 162, 162);
    border-radius: 15px;
    // padding: 0 20px;
}

.job-idx-pad {
    padding-top: 15px;
    padding-bottom: 15px;
}

.job-title {
    font-size: 21px;
    font-family: 'Menlo';
    background-color: rgb(233, 232, 232);
    padding: 2px 15px;
}


.job-title-haul {
    font-size: 21px;
    font-family: 'Menlo';
    background-color: rgb(219, 248, 219);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 15px;
    // border-radius: 15px;
}

.job_label {
    align-items: center;
}


.job-info {
    padding: 10px 15px;
    line-height: 1.2;
}

.div-btn {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}


.route-btn {
    outline:none;
    border:none;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    color: black;
    background: rgb(221, 221, 221);
    cursor: pointer;

}

.route-btn:hover {
    background-color: rgb(77, 77, 77);
    color: white;
}



.accept-btn {
    outline:none;
    border:none;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    color: black;
    background: rgb(208, 236, 208);
    margin-left: 28px;
    cursor: pointer;

}

.accept-btn:hover {
    background-color: rgb(236, 153, 153);
}

.job-form-pad {
    padding-top: 10px;
}

// #jobmap_jobshow {
//     width: 75%;
//     height: 100vh;
// }

#divider_div {
    margin-top: 10%;
    margin-right: 5%;
    height: 100%;
    width: 70%;
    display: flex;
    align-self: center;
}