
//job idx page

#job_index_container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    padding: 0;
    flex-grow: 1;
}

#job_show_sub_right {
    display: flex;
    height: 50%;
    width: 30%;  
}

#job_show_sub_left {
    display: block;
    width: 30vw;
    float: left;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    list-style: none;
    border: 2px solid gray;
    background: radial-gradient(circle, rgba(235,145,53,0.23713235294117652) 0%, rgba(235,145,53,0.1558998599439776)100%);

}


.alljobs-header {
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    margin-right: 25%;
    margin-left: 35%;
    margin-top: 30px;
    color:#ee532494;
    // margin: 0 auto;
}


.job-distingsetails {
    background-color: purple; 
    
}



.job-idx-left-container {
    border: 1px solid rgb(163, 162, 162);
    border-radius: 15px;
    // padding: 0 20px;
}

.job-idx-pad {
    margin: 5px;
    border-radius: 15px;
    background: radial-gradient(circle, rgba(248, 222, 135, 0.624) 0%, rgb(255, 225, 194) 100%);

}

.job-title {
    font-size: 21px;
    font-family: 'Arial';
    font-weight: 500;
    padding: 2px 15px;
    color:  #ee532494;
}


.job-title-haul {
    font-size: 21px;
    font-family: 'Arial';
    color: #ee532494;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 15px;
}

.job_label {
    align-items: center;
}


.job-info {
    padding: 10px 15px;
    line-height: 1.2;
    color: grey;
    font-weight: 500;
}

.div-btn {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}


.route-btn {
    outline:none;
    border:none;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    color: black;
    background: rgb(221, 221, 221);
    cursor: pointer;

}

.route-btn:hover {
    background-color: rgb(138, 168, 143);
    color: white;
}



.accept-btn {
    outline:none;
    border:none;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    color: black;
    background: rgb(208, 236, 208);
    margin-left: 28px;
    cursor: pointer;

}

.complete-btn {
    outline:none;
    border:none;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    color: black;
    background: rgb(168, 199, 223);
    margin-left: 28px;
    cursor: pointer;

}

.complete-btn:hover {
    background-color: rgb(135, 157, 190);
}

.accept-btn:hover {
    background-color: rgb(236, 153, 153);
}

.job-form-pad {
    padding-top: 10px;
}
