.navbar {
    display: inline-block;
    position: fixed;
    z-index: 9999;
    height: 28px;
    flex-direction: row;
    width: 100%;
    background:  linear-gradient(to right,#ec9d85 0%, #e9d5d5 80%,#fff1f1 100%);
    border-bottom: 1px solid #cbd4db;
}

.nav-session {
    display: inline-block;
    // padding: 30px;
}

.nav-btn {
    display: inline-block;
}

button {
    border-radius: 2px;
}

.nav-signup {

    background-color: #f17752;

    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    width: 90px;
    // margin: 4px 2px;
    // opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    right: 90px;
    top: 0px;
    position: absolute;
}

.nav-signup:hover{
    background: #bed3fa;
    color: black;
}

.nav-signup:focus{
    border: none;
    outline: none;
}

.nav-login {
    background-color: #ee5324;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    width: 90px;
    // margin: 4px 2px;
    // opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    right: 0px;
    top: 0px;
    position: absolute;
}

.nav-login:hover{
      background: #18cf15;
    color: #0c570a;
}

.nav-login:focus{
    border: none;
    outline: none;
}
.logo-nav{
    position: absolute;
    width:50px;
    height:50px;
    top: -10px;
    cursor: pointer;
}

.nav-logout-button {
    background-color:#e84f1c;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    width: 100px;
    // margin: 4px 2px;
    // opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    right: 0px;
    top: 0px;
    position: absolute;
}

.nav-logout-button:focus{
    border: none;
    outline: none;
}

.nav-logout-button:hover{
    background: #6b220a;
}

.nav-jobs{
    background-color:#bed3fa;

    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;

    width: 70px;
    // margin: 4px 2px;
    // opacity: 0.6;

    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    right: 100px;
    top: 0px;
    position: absolute;
}

.jobs-link{
    text-decoration: none;
    color: white;
}

.nav-jobs:hover{
    background: #18cf15;
    color: #0c570a;
}

.nav-rating {
    display: flex;
    position: absolute;
    top: -10px;
    left: 60px;
    // font-size: 14px;
}

.nav-welcome {
    margin-right: 10px;
}

.nav-stars {
 margin-top: 14px;
}