
.user-request-container {
    width: 600px;
    height: 593px;
    align-items: right;
    overflow-y: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.delete-btn {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.63);
    border: none;
    color: white;
    text-align: center;
    width: 100px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    margin-left: 140px;
    border-radius: 40px;
    margin-top: 50px;
}

.delete-btn:hover {
    background-color: lightblue;
}


.job-form-message {
    margin: 0;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    font-size: 22px;
    color: rgb(248, 102, 102);
}



.user_job_form {
    position: relative;
    top: 700px;
}

.user-job-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 10%;
    height: 60%;
    width: 60%;
}

#user_jobmap_jobshow {
    display:flex;
    flex-direction: row;
    height: 100%;
}

.mapboxgl-ctrl-bottom-right{
    display: none;
}

.mapbox-directions-component {
    display: none;
}





.user-map-container {
    height: 100%;
    width: 60%;
}

.user-map-container .mapbox-directions-steps {
    display: none;
}

#user_jobmap_jobshow .mapboxgl-canvas { 
    height: 65vh;
    width: 60vw;
    border: 2px solid grey;
    border-radius: 5px;
    width: 100%;

}

.user_request_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    height: 70vh;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 50px;
    background: radial-gradient(circle, rgba(235,145,53,0.23713235294117652) 0%, rgba(235,145,53,0.1558998599439776)100%);
    box-shadow: 10px 10px 34px -2px rgba(0,0,0,0.14);
}

#user_jobmap_jobshow div {
    font-style: arial;
    color: grey;
    size: 16px;
}

#divider_div {
    width: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#jobmap_jobshow div {   
    font-style: arial;
    color: grey;
    size: 12px;
}



#jobmap_jobshow .mapboxgl-canvas { 
    display: flex;
    width: 60vw;
    height: 60vh;
    border: 2px solid grey;
    border-radius: 5px; 
   box-shadow: 10px 10px 34px -2px rgba(0,0,0,0.14);
}

#jobmap_jobshow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    padding: 10%;
    padding-top: 80px;   

}
#jobmap_jobshow {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    padding: 10%;
    padding-top: 80px;   

}

#jobmap_jobshow .mapbox-directions-steps {
    display: none;
    // width:70vw;
    // height: 20vh;
    // font-size: 20px;
    // font-style: arial;
    // line-height: 25px;
    // font-weight: 300;

    
}
.request-details {
  width: 400px;
    font-size: 20px;
    font-style: arial;
    line-height: 20px;
    font-weight: 500;
    color: #ec9d85;
    margin: 0px;
}

.job-item-details {
    width: 400px;
    font-size: 16px;
    font-style: arial;
    line-height: 20px;
    font-weight: 400;
    color: grey;
}

.ratings-div {
    width: 65%;
    border: 1px dashed darkslateblue;
    padding: 10px;
    
}

.ratings-div > h2 {
    color: purple;
    padding-bottom: 15px;
    margin: 0;
}


.ratings-submit-btn {
    background-color:#55c521;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    width: 150px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}


.ratings-submit-btn:hover {
    color: white;
    background-color: rgb(116, 107, 177);
}
